/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding: 0;
  color: #595656;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
}

body a { text-decoration: none; }
body.modal-open {
  overflow: hidden;
}

.inner-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.outer-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

header, footer {
  margin: 0 auto;
  text-align: center;
}

header h1 {
  width: 80%;
  margin: 16px auto;
}

.buttons { height: 50px; }

.buttons a {
  border-radius: 2px;
  padding: 8px 6px 6px;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  font-size: 0.8em
}

.buttons a:first-of-type,
.buttons a:first-of-type {
  background-color: #EFB847;
  border-bottom: 3px solid #DDA650;
}

.buttons a:last-of-type,
.buttons a:last-of-type {
  background-color: #95D2DB;
  border-bottom: 3px solid #88BBBF;
}

header img, footer img {
  max-width: 100%;
}

footer {
  padding: 0;
}

footer > a {
  width: 80%;
  display: inline-block;
  text-align: center;
  margin-bottom: 16px;
}

footer .buttons {
    text-align: center;
  }
}

.hero-banner {
  width: 100%;
  margin: 0 auto;
}

.hero-banner img {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

section {
  clear: both;
  margin: 0 auto;
}

section h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.3em;
  font-weight: 600;
  border-bottom: 1px solid #79D1B0;
  margin-top: 40px;
}

.point {
  background-color: #F5F5F5;
}

.point > section {
  margin: 32px auto;
}

.point p {
  font-size: 0.8em;
  padding-left: 25%;
}

.point h3 {
  font-weight: 600;
}
.point h3 span {
  color: #79D1B0;
}

.point h3::before {
  content: "";
  width: 20%;
  min-height: 100px;
  float: left;
  margin-right: 5%;
}

.point01 h3::before {
  background: url('../img/point-01.png') center top no-repeat;
  background-size: contain;
}

.point02 h3::before {
  background: url('../img/point-02.png') center top no-repeat;
  background-size: contain;
}

.point03 h3::before {
  background: url('../img/point-03.png') center top no-repeat;
  background-size: contain;
}


#school-list ul {
  padding: 0;
  margin: 0 -16px; /* -8px to fit on 360 wide phones */
  list-style-type: none;
}

#school-list ul li {
  display: inline-block;
  width: 45%;
  margin: 0 2% 32px;
  font-size: 0.7em;
  vertical-align: top;
}

#school-list ul li img {
  max-width: 100%;
  margin-bottom: 16px;
}

#school-list ul li h3 {
  background: transparent url('../img/icn-location.png') left top no-repeat;
  background-size: 1.25em;
  padding-left: 1.5em;
  border-bottom: 1px solid #95D2DB;
  font-size: 1.5em;
  font-weight: 800;
}

#school-list ul li span {
  display: block;
  line-height: 1.8em;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

#school-list ul li .tel {
  background-image: url('../img/icn-tel.png');
  background-size: 24px;
  padding-left: 32px;
  font-size: 1.3em;
  font-weight: 800;
}

#school-list ul li .email {
  background-image: url('../img/icn-mail.png');
  background-size: 24px;
  padding-left: 32px;
  font-size: 1.1em;
}

#school-list ul li .address {
  background-image: url('../img/icn-address.png');
  background-size: 24px;
  padding-left: 32px;
  font-size: 1.1em;
  background-position: left top;
}

#school-list ul li p.trigger {
  background-color: #EFB847;
  padding: 8px 6px;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 1.2em;
  display: block;
  text-align: center;
  text-decoration: none;
  clear: both;
}

.school-info {
  min-height: 110px;
}

#schedule {
  margin: 32px auto;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: fixed;
  bottom: 0;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.school-schedule {
  background-color: #F5F5F5;
  border-top: 4px solid #595656;
  box-shadow: 0 0 20px rgba(0,0,0,0.12), 0 6px 20px rgba(0,0,0,0.1);
  width: 100%;
}

.school-schedule .school-name {
  background-color: #595656;
  color: white;
  margin: 0 0 16px;
  padding: 16px 8px;
  font-size: 1em;
  font-weight: 800;
  display: inline-block;
}

.school-schedule .tel {
  color: #595656;
  font-weight: 800;
  font-size: 1em;
  margin: 0;
  padding: 16px 0 16px 48px;
  display: inline-block;
  background-image: url(../img/icn-tel-fill.png);
  background-repeat: no-repeat;
  background-position: 8px center;
}

.school-schedule table {
  margin: 0 auto;
  font-weight: 600;
  font-size: 0.8em;
  width: 92%;
}
.school-schedule table td {
  background-color: white;
  padding: 12px 8px;
}

.school-schedule table th,
.school-schedule table tr td:first-of-type {
  background-color: #95d2db;
  color: white;
}

.school-schedule table small {
  font-weight: 400;
}

.school-schedule figure {
  margin: 16px auto;
  padding: 16px 0 0;
  border-top: 1px solid #95D2DB;
  width: 92%;
  font-size: 0.7em;
}

.school-schedule figure .map-container {
  background-color: #FFFFFF;
  width: 100%;
  margin-top: 16px;
}

.school-schedule figure .map-container iframe {
  border: none;
  width: 100%;
  display: block;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

/* Extra small screens (iPhone SE...) */
@media screen and (max-width: 359px) {

  .point h3 {
    line-height: 1.5em;
  }

  .point p {
    padding-left: 0;
    clear: left;
  }

  #school-list ul li {
    width: 100%;
    margin: 0 0 32px;
    font-size: 0.7em;
  }
  .school-info {
    float: right;
    width: 60%;
  }
  #school-list ul li img {
    float: left;
    width: 35%;
  }
  #school-list ul li a { clear: both; display: block; }

  .modal-content {
    position: fixed;
    bottom: 0;
  }
  .school-schedule {
    border-top: none;
  }
  .school-schedule figure {
    padding-top: 16px;
    padding-bottom: 0;
  }
  .school-name {
    width: 100%;
    padding: 16px 0 16px 16px !important;
    margin-bottom: 0 !important;
  }

}

@media screen
and (min-width: 599px) and (max-width: 767px) {

  .point p {
    font-size: 0.9em;
    padding-left: 14%;
  }
  .point h3 {
    font-weight: 600;
    letter-spacing: 2px;
  }
  .point h3::before {
    content: "";
    width: 10%;
    min-height: 90px;
    float: left;
    margin-right: 4%;
  }

  header h1, footer > a {
    width: 30%;
    display: inline-block;
    text-align: left;
  }

  .buttons {
    width: 65%;
    display: inline-block;
    text-align: right;
  }

  .hero-banner img {
    float: left;
    display: inline;
    width: 50%;
  }

  section h2 {
    font-size: 2em;
    letter-spacing: 3px;
  }

  #school-list ul li {
    width: 30%;
    margin: 0 1% 32px;
    font-size: 0.7em;
  }
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    bottom: auto; /* override bottom 0 from default styles */
    transform: translate(-50%, -50%);
  }
  .school-schedule {
    width: 480px;
  }
  .school-name {
    width: calc(45% - 32px);
  }

}

@media screen and (min-width: 599px) and (max-width:679px) {

  .school-schedule table { font-size: 1em; }
  .school-schedule table td {
    padding: 24px 8px;
    text-align: center;
  }
  .map-container {
    height: 210px;
  }
  .map-container iframe {
    height: 100%;
  }
  .buttons {
    width: 65%;
    display: inline-block;
    text-align: right !important;
  }
}

@media screen and (min-width: 680px) and (max-width: 767px) {

  .school-name {
    width: 90%;
    padding: 16px 5% !important;
  }
  .school-schedule table { font-size: 0.7em; }
  .school-schedule table td {
    padding: 24px 8px;
    text-align: center;
  }
  .map-container {
    height: 210px;
  }
  .map-container iframe {
    height: 100%;
  }
  .buttons {
    width: 65%;
    display: inline-block;
    text-align: right !important;
  }

}

/* iPad and above */
@media screen and (min-width: 768px) {

  header h1, footer > a {
    width: 30%;
    display: inline-block;
    text-align: left;
  }

  .buttons {
    width: 65%;
    display: inline-block;
    text-align: right !important;
  }

  .hero-banner img {
    float: left;
    display: inline;
    width: 50%;
  }

  section h2 {
    font-size: 2em;
    letter-spacing: 3px;
  }

  #school-list ul li {
    width: 23%;
    margin: 0 0.72% 32px;
    font-size: 0.7em;
  }
  .school-info {
    min-height: 140px;
  }

  .point > section {
    height: 280px;
    padding: 60px 4% 0;
  }
  .point h3 { font-size: 1.4em; width: 70%; }
  .point h3::before {
    min-height: 140px;
    margin-right: 3%;
  }
  .point p {
    font-size: 1.2em !important;
    width: 50%;
    padding-left: 16%;
    letter-spacing: 1.5px;
  }

  .point01 {
    background: transparent url('../img/point-01-img.jpg') right 4% center no-repeat;
    background-size: 30%;
  }
  .point02 {
    background: transparent url('../img/point-02-img.jpg') right 4% center no-repeat;
    background-size: 30%;
  }
  .point03 {
    background: transparent url('../img/point-03-img.jpg') right 4% center no-repeat;
    background-size: 30%;
  }
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    bottom: auto; /* override bottom 0 from default styles */
    transform: translate(-50%, -50%);
  }
  .school-schedule {
    width: 480px;
  }
  .school-name {
    width: 36%;
    padding: 16px 16px;
  }
  .school-schedule table { font-size: 1em; }
  .school-schedule table td {
    padding: 24px 8px;
    text-align: center;
  }
  .map-container {
    height: 210px;
  }
  .map-container iframe {
    height: 100%;
  }

}

@media screen and (min-width: 900px) {
  #school-list ul li {
    font-size: 0.9em;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    visibility: hidden !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
