/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding: 0;
  color: #595656;
}

body a { text-decoration: none; }

header {
  margin: 0 auto;
  text-align: center;
}

header .buttons a {
  border-radius: 2px;
  padding: 8px 6px 6px;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  font-size: 0.8em
}

header .buttons a:first-of-type {
  background-color: #EFB847;
  border-bottom: 3px solid #DDA650;
}

header .buttons a:last-of-type {
  background-color: #95D2DB;
  border-bottom: 3px solid #88BBBF;
}

.hero-banner {
  width: 100%;
  margin: 0 auto;
}

.hero-banner img {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
}

section {
  clear: both;
  font-family: sans-serif;
  width: 92%;
  margin: 0 auto;
}

section h2 {
  text-align: center;
  padding-bottom: 20px;
  font-family: serif;
  font-size: 1.3em;
  font-weight: 600;
  border-bottom: 1px solid #79D1B0;
}

section.point p {
  font-size: 0.8em;
  padding-left: 25%;
}

section.point h3 {
  font-weight: 600;
}

section.point h3::before {
  content: "";
  width: 25%;
  height: 100px;
  float: left;
}

section.point01 h3::before {
  background: url('../img/point-01.png') left top no-repeat;
  background-size: 75%;
}

section.point02 h3::before {
  background: url('../img/point-02.png') left top no-repeat;
  background-size: 75%;
}

section.point03 h3::before {
  background: url('../img/point-03.png') left top no-repeat;
  background-size: 75%;
}


ul.flex-container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-item {
  flex-basis: 45%;
  flex-grow: 1;
  width: 45%;
  margin: 0 2%;
  font-size: 0.7em;
}

.flex-item img {
  max-width: 100%;
  margin-bottom: 16px;
}

.flex-item h3 {
  background: transparent url('../img/icn-location.png') left top no-repeat;
  background-size: 1.25em;
  padding-left: 1.5em;
  border-bottom: 1px solid #95D2DB;
  /* line-height: 1.5em; */
  font-size: 1.5em;
  font-weight: 800;
}

.flex-item span {
  display: block;
  line-height: 1.8em;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.flex-item .tel {
  background-image: url('../img/icn-tel.png');
  background-size: 1.3em;
  padding-left: 1.5em;
  font-size: 1.45em;
  font-weight: 800;
}

.flex-item .email {
  background-image: url('../img/icn-mail.png');
  background-size: 1.8em;
  padding-left: calc(1.3em + 8px);
  font-size: 1.1em;
}

.flex-item .address {
  background-image: url('../img/icn-address.png');
  background-size: 1.8em;
  padding-left: calc(1.3em + 8px);
  font-size: 1.1em;
  background-position: left top;
}

.flex-item a {
  background-color: #EFB847;
  padding: 8px 6px;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  display: block;
  text-align: center;
}

.kyoshitsu-schedule {
  background-color: #F5F5F5;
  width: 92%;
  border-top: 4px solid #595656;
  padding-bottom: 24px;
}

.kyoshitsu-schedule h3 {
  background-color: #595656;
  color: white;
  margin: 0 0 16px;
  padding: 16px;
  width: calc(45% - 32px);
  font-size: 1em;
  float: left;
}

.kyoshitsu-schedule .tel {
  color: #595656;
  font-weight: 800;
  font-size: 1em;
  margin: 0;
  padding: 16px 0 16px 48px;
  display: block;
  background-image: url(../img/icn-tel-fill.png);
  width: calc(50% - 32px);
  margin-left: 45%;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.kyoshitsu-schedule table {
  margin: 0 auto;
  font-weight: 600;
  font-size: 0.8em;
}
.kyoshitsu-schedule table td {
  background-color: white;
  padding: 8px;
}

.kyoshitsu-schedule table th,
.kyoshitsu-schedule table tr td:first-of-type {
  background-color: #95d2db;
  color: white;
}

.kyoshitsu-schedule table small {
  font-weight: 400;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
